{% extends 'retailer/base.html' %}

{% block title %}Retailers List{% endblock %}
{% block header %}Retailers{% endblock %}

{% block content %}
    <ul>
        {% for retailer in retailers %}
            <li>
                <a href="{% url 'retailer:retailer_detail' retailer.pk %}">
                    {{ retailer.name }} - {{ retailer.mobile_no }}
                </a>
            </li>
        {% empty %}
            <li>No retailers available.</li>
        {% endfor %}
    </ul>
{% endblock %}